<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hobby Tracker{% endblock %}</title>
    </head>
<body>
    <nav>
        <a href="#">Dashboard</a>
        <a href="#">Inventory</a>
        {% if user.is_authenticated %}
            <span>Hi, {{ user.username }}!</span>
            <a href="#">Logout</a>
        {% else %}
            <a href="#">Login</a>
        {% endif %}
    </nav>
    <hr>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>